@model PagedList.PagedList<DoAnWatch.Models.Product>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Hiển thị sản phẩm";
}
<link rel="stylesheet" type="text/css" href="~/Content/asset/styles/bootstrap4/bootstrap.min.css">
<link href="~/Content/asset/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="~/Content/asset/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="~/Content/asset/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="~/Content/asset/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="~/Content/asset/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/Content/asset/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/asset/styles/categories_responsive.css">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                @*<ul>
                    <li><a href="/home/index">Home</a></li>
                    <li class="active"><a href="/products/index"><i class="fa fa-angle-right" aria-hidden="true"></i>Sản Phẩm</a></li>
                </ul>*@
                <h3 class="title1">Danh Sách Sản Phẩm</h3>
            </div>

             
            <div class="sidebar">
                <h3 class="title1">Bán Chạy</h3>
                @Html.Action("MenuLeft", "Menu")


             
            </div>
            <!-- Color -->
            <!--</div>-->
            <!-- Main Content -->

            <div class="main_content">

                <!-- Products -->

                <div class="products_iso">
                    <div class="row">
                        <div class="col">

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_top">
                                <ul class="product_sorting">
                                  

                                </ul>
                                <div class="pages d-flex flex-row align-items-center">

                                    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
                                    {

                                        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @placeholder = "Tìm Sản Phẩm" })
                                        <button type="submit" value="Search" class="btn btn-primary">
                                            <i class="fa fa-search"></i>
                                        </button>

                                        @Html.DropDownList("category", ViewBag.CategoryList as SelectList, "Tất cả danh mục", new { @value = "" })

                                        <button type="submit" value="Search" class="btn btn-primary">
                                        </button>



                                    }

                                </div>

                            </div>

                            <!-- Product Grid -->

                            <div class="product-grid">

                                <!-- Product 1 -->
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <div class="product-item men">
                                            <div class="product discount product_filter">
                                                <div class="product_image">
                                                    <a href="/Products/detail/@item.Id"><img src="@Url.Content("~/Content/img/" + item.Image)" width="210" height="218" alt=""></a>
                                                    @*red_button add_to_cart_button*@

                                                </div>
                                                <div class="favorite favorite_left"></div>
                                                <div class="product_info">
                                                    <h6 class="product_name"><a href="/Products/detail/@item.Id">@item.Title</a></h6>
                                                    <div class="product_price">$@item.Price</div>
                                                    <div>
                                                        <p> Số Lượng Còn : @item.Quantity </p>
                                                        <div class="btn btn-success">
                                                            <a href="#" class="btnAddToCart" style="color:aliceblue" data-id="@item.Id"> <i class="fa fa-shopping-cart"></i>Thêm Vào Giỏ Hàng</a>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>

                                    }
                                }


                                <!-- Product 2 -->

                            </div>

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_bottom clearfix">


                                @Html.PagedListPager(Model, page => Url.Action("Index",
                   new { page, currentFilter = ViewBag.CurrentFilter }))

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/asset/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/asset/styles/bootstrap4/popper.js"></script>
    <script src="~/Content/asset/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Content/asset/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/asset/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/asset/plugins/easing/easing.js"></script>
    <script src="~/Content/asset/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/Content/asset/js/categories_custom.js"></script>
    <script>
        $(document).ready(function () {
            if ($("#category").val() === "0") {
                $("#category").val("");
            }
        });
    </script>
}